body {margin: 0px;}

#container {
	background-color: black;
	border: 1px solid gray;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	width: 300px;
	height: 250px;
	pointer-events: none;
}

#container * {
	position: absolute;
}

#clickthru{
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

.wChange {
    will-change: transform;
}

/*-------------- SPRITE -------------*/
.sprite { background: url('sprite.png') no-repeat top left; width: 172px; height: 377px; background-size: 172px 377px;  } 
.sprite.cta_text_hover { background-position: 0 0; width: 77px; height: 12px; } 
.sprite.cta_text { background-position: 0 -17px; width: 77px; height: 12px; } 
.sprite.image { background-position: 0 -34px; width: 172px; height: 210px; } 
.sprite.note_2 { background-position: 0 -249px; width: 17px; height: 17px; } 
.sprite.text1 {background-position: 0 -271px;top: 13px;left: 13px;width: 109px;height: 44px;} 
.sprite.text2 { background-position: 0 -320px; width: 121px; height: 18px; } 
.sprite.text3 { background-position: 0 -343px; width: 85px; height: 34px; } 

/*--------- SPRITE POSITION ---------*/
.cta_text {top: 12px;left: 22px;}
.cta_text_hover {top: 10px;left: 20px;}154
 
.text1 {top: 33px;left: 13px;}
.text2 {top: 66px;left: 13px;}
.text3 {top: 99px;left: 14px;}

/*-------- IMAGES | POSITION --------*/
img {
	width: 100%;
	height: auto;
	display: block;
}
.bg{
	width: 300px;
	height: 250px;
    width: 100%;
/*    background-color: #ff4632;*/
}
.bg2{
	width: 300px;
	height: 250px;
    background-color: #1e3264;
}

.bg_spike1 {
    width: 188px;
    height: 162px;
    top: 129px;
    left: 116px;
}

.bg_spike2 {
    width: 73.5px;
    height: 161.5px;
    top: 77px;
    left: 240px;
}

.earing {
    width: 23px;
    height: 39px;
    top: 119px;
    left: 170px;
}

.logo {
    top: 209px;
    left: 13px;
    width: 84px;
    height: auto;
}

.eyeGlass {
    width: 70px;
    height: 32px;
    top: 71px;
    left: 172px;
}

.starObj1 {
    width: 12px;
    height: 8px;
    top: 62px;
    left: 208px;
}

.starObj2 {
    width: 5px;
    height: 8px;
    top: 107px;
    left: 203px;
}


.starObj3 {
    width: 10px;
    height: 11px;
    top: 123px;
    left: 251px;
}

.note1 {
    width: 15px;
    height: 24px;
    top: 113px;
    left: 175px;
}

.note2 {
    width: 16.5px;
    height: 14px;
    top: 113px;
    left: 175px;
}

.note3 {
    width: 17px;
    height: 15px;
    top: 113px;
    left: 175px;
}

.note4 {
    width: 18px;
    height: 6.5px;
    top: 113px;
    left: 175px;
}
.image {
    width: 14px;
    height: 9.5px;
    top: 39px;
    left: 127px;
}

.cta{
    border-radius: 17px;
    width: 154px;
    height: 24px;
    left: 14px;
    top: 146px;
}

.ctaout{
    background-color:#ffffff;
    border-radius: 17px;
    width: 122px;
    height: 34px;
}

.ctahover{
    border: 2px dotted #ffffff;
    border-radius: 17px;
    width: 118px;
    height: 30px;
}




